* {
    border: none !important;
} 

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.bg-light {
    background-color: #ff5733 !important; /* Your desired hex color */
}

header {
    flex-shrink: 0;
    
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.bg-light {
    background-color: #4698CB !important;
}


.container, .row, .col-lg-10 {
    border: none !important;
}

.btn-group .btn {
    width: 100px;
    margin: 0 10px;
}


.card {
    max-height: 80vh;
    overflow-y: auto;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.card-body {
    padding: 0 !important;
    background-color: transparent !important;
}

#question-container {
    transition: opacity 0.3s ease-in-out;
}

#question-image {
    max-height: 200px;
    object-fit: contain;
}

.likert-table {
    font-size: 0.8rem;
}

.likert-table th, .likert-table td {
    text-align: center;
    vertical-align: middle;
    padding: 0.3rem;
    
}

.likert-table td:first-child {
    text-align: left;
    
}

#text-answer {
    width: 100%;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .likert-table {
        font-size: 0.7rem;
    }
    .likert-table th, .likert-table td {
        padding: 0.2rem;
    }
}